html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 60px;
}

@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

$night-black: black;
$night-blue: blue;
$day-blue: #0099EE;
$day-lightblue: #77DDFF;
$haze-blue: #002244;
$haze-purple: #663344;
$haze-pink: #EE5566;
$haze-yellow: #FFCC44;

.kuni-label {
    cursor: pointer;
}

textarea#sticky {
    width: 90%;
}

/*  Weather  */

div.first-hourly-element {
    margin-left: 40px;
}

body.night-mode {
    h1 { color: #CCCCCC; }
    background: -webkit-linear-gradient( top, $night-black, $night-blue);
    background:    -moz-linear-gradient( top, $night-black, $night-blue);
    background:     -ms-linear-gradient( top, $night-black, $night-blue);
    background:      -o-linear-gradient( top, $night-black, $night-blue);
    background:         linear-gradient( to bottom, $night-black, $night-blue);
}

body.day-mode {
    background: -webkit-linear-gradient( top, $day-blue, $day-lightblue);
    background:    -moz-linear-gradient( top, $day-blue, $day-lightblue);
    background:     -ms-linear-gradient( top, $day-blue, $day-lightblue);
    background:      -o-linear-gradient( top, $day-blue, $day-lightblue);
    background:         linear-gradient( to bottom, $day-blue, $day-lightblue);
}
