<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="goodMorningAngularApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Good Morning!</a>
                <div class="nav-collapse collapse">
                    <div ng-controller='AuthCtrl'>
                        <form ng-hide="logged" class="navbar-form pull-right">
                            <input ng-model="email" class="span2" type="text" placeholder="Email">
                            <input ng-model="password" class="span2" type="password" placeholder="Password">
                            <button ng-click="signin()" type="submit" class="btn">Sign in</button>
                        </form>
                        <!--<a ng-show="logged" ng-click="signout()" class="btn pull-right">Sign Out</a>-->
                        <p ng-show="logged" class="navbar-text pull-right">
                            authToken: {{ authToken }} | Logged in as {{ username }} 
                            <a ng-click="signout()" href="#">Sign Out</a>
                        </p>
                    </div>
                    <ul class="nav">
                        <li class="active"><a href="/home/">Home</a></li>
                        <li><a href="/weather/">Weather</a></li>
                        <li><a href="/news/">News</a></li>
                        <li><a href="/bookmarks/">Bookmarks</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- Add your site or application content here -->
    <div class="container-fluid" ng-view></div>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/services/sticky.js"></script>
    <script src="scripts/services/bookmark.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
