<div class="row-fluid">
    <div class="span12">
        <h1>Tomo's <span class="hidden-phone">Work </span>Shifts</h1>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="hidden-phone">This Week</th>
                    <th>Mon <i class="icon-arrow-down" ng-show="wday == 1"></i></th>
                    <th>Tue <i class="icon-arrow-down" ng-show="wday == 2"></i></th>
                    <th>Wed <i class="icon-arrow-down" ng-show="wday == 3"></i></th>
                    <th>Thu <i class="icon-arrow-down" ng-show="wday == 4"></i></th>
                    <th>Fri <i class="icon-arrow-down" ng-show="wday == 5"></i></th>
                    <th>Sat <i class="icon-arrow-down" ng-show="wday == 6"></i></th>
                    <th>Sun <i class="icon-arrow-down" ng-show="wday == 0"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hidden-phone">AM</td>
                    <td ng-repeat="index in [1,2,3,4,5,6,7]">
                        <span class="kuni-label label {{ kuniDays[tWeek][index].am | KuniLabel }}" ng-click="kuniSwitch(tYear, tWeek, index, 'am', kuniDays[tWeek][index].am)">
                            {{ kuniDays[tWeek][index].am }}&nbsp;
                            <i class="icon-pencil icon-white" ng-hide="kuniDays[tWeek][index].am"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="hidden-phone">PM</td>
                    <td ng-repeat="index in [1,2,3,4,5,6,7]">
                        <span class="kuni-label label {{ kuniDays[tWeek][index].pm | KuniLabel }}" ng-click="kuniSwitch(tYear, tWeek, index, 'pm', kuniDays[tWeek][index].pm)">
                            {{ kuniDays[tWeek][index].pm }}&nbsp;
                            <i class="icon-pencil icon-white" ng-hide="kuniDays[tWeek][index].pm"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="hidden-phone">Next Week</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hidden-phone">AM</td>
                    <td ng-repeat="index in [1,2,3,4,5,6,7]">
                        <span class="kuni-label label {{ kuniDays[nWeek][index].am | KuniLabel }}" ng-click="kuniSwitch(nYear, nWeek, index, 'am', kuniDays[nWeek][index].am)">
                            {{ kuniDays[nWeek][index].am }}&nbsp;
                            <i class="icon-pencil icon-white" ng-hide="kuniDays[nWeek][index].am"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="hidden-phone">PM</td>
                    <td ng-repeat="index in [1,2,3,4,5,6,7]">
                        <span class="kuni-label label {{ kuniDays[nWeek][index].pm | KuniLabel }}" ng-click="kuniSwitch(nYear, nWeek, index, 'pm', kuniDays[nWeek][index].pm)">
                            {{ kuniDays[nWeek][index].pm }}&nbsp;
                            <i class="icon-pencil icon-white" ng-hide="kuniDays[nWeek][index].pm"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
