<div class="row-fluid">
    <div class="span12">
        <h1>News</h1>
        <div ng-repeat="stream in news" class="well clearfix">
            <h3>{{ stream.stream.title }}</h3>
            <ul>
                <li ng-repeat="article in stream.articles">
                    <a href="{{ article.link }}" target="_blank">{{ article.title }}</a>
                </li>
            </ul>
            <p><a ng-click="removeStream(stream.stream.id)" class="btn btn-small btn-danger pull-right">Remove Stream</a></p>
        </div>
        <p><a class="btn btn-primary">Add Stream</a></p>
    </div>
</div>
