<div class="row">
    <div class="span12">
        <h1>Weather</h1>
        <div class="row">
            <div class="span12">
                <div class="well clearfix">
                    <h4>Next hours</h4>
                    <div ng-repeat="hour in hourly" class="pull-left" style="margin-right:40px" ng-class="{'first-hourly-element': $index==0}">
                        <h5 class="text-center">{{ hour.FCTTIME.hour_padded }}:00</h5>
                        <img ng-src="{{ hour.icon_url }}"/>
                        <h5 class="text-center">{{ hour.temp.metric }}°C</h5>
                        <p class="text-info text-center">{{ hour.pop }}%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="day in forecast" class="span3">
                <div class="well clearfix">
                    <h4>{{ day.date.weekday }}</h4>
                    <div class="pull-left" style="margin-right:20px">
                        <img ng-src="{{ day.icon_url }}" style="align:center"/>
                    </div>
                    <p><strong>{{ day.conditions }}</strong> <span class="text-info"><i class="icon-leaf"></i> {{ day.pop }}%</span></p>
                    <p>Low: <strong>{{ day.low.celsius }}°C</strong> - High: <strong>{{ day.high.celsius }}°C</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
