<div class="row">
    <div class="span12">
        <h1>Weather</h1>
        <div class="row">
            <div class="span12">
                <div class="well">
                    <h3>Today</h3>
                    <div class="row">
                        <div class="span3">
                            <div class="pull-left" style="margin-right:20px">
                                <img ng-src="{{ conditions.icon_url }}">
                                <h4>{{ conditions.weather }}</h4>
                            </div>
                            <div>
                                <ul class="unstyled">
                                    <li><h2>{{ conditions.temp_c }}°C</h2></li>
                                    <li>Feels like {{ conditions.feelslike_c }}°C</li>
                                    <li>{{ conditions.display_location.full }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="span3">
                        </div>
                        <div class="span3">
                        </div>
                        <div class="span3">
                            <ul class="unstyled">
                                <li>Sunrise: {{ astronomy.sunrise.hour }}:{{ astronomy.sunrise.minute }}</li>
                                <li>Sunset: {{ astronomy.sunset.hour }}:{{ astronomy.sunset.minute }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="hour in hourly" class="span1">
                <div class="well">
                    <h5>{{ hour.FCTTIME.hour_padded }}:00</h5>
                    <img ng-src="{{ hour.icon_url }}"/>
                    <h5>{{ hour.temp.metric }}°C</h5>
                    <p class="text-info">{{ hour.pop }}%</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="day in forecast" class="span3">
                <div class="well">
                    <div class="clearfix">
                        <h4>{{ day.date.weekday }}</h4>
                        <div class="pull-left" style="margin-right:20px">
                            <img ng-src="{{ day.icon_url }}" style="align:center"/>
                            <p class="text-info">{{ day.pop }}%</p>
                        </div>
                        <div>
                            <h5>{{ day.conditions }}</h5>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left" style="margin-right:20px">
                            <h5>{{ day.low.celsius }}°C</h5>
                        </div>
                        <div class="pull-left">
                            <h5>{{ day.high.celsius }}°C</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
